/* letter */

@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Open+Sans:wght@300&family=Playwrite+AU+SA:wght@100..400&display=swap');
body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(images/letter-bg.jpg);
    background-position-x: center;
    font-family: "Autour One", serif;
    overflow: hidden;
    transition: all 0.5s ease;
}
img.old-paper{
  width: 1000px;
  height: 650px;
}
img.lily{
    position: absolute;
    right: 40px;
}
img.lily-2{
  position: absolute;
  top:30px;
  left:120px;
  width: 300px;
}
h3.letter-title{
  z-index: 100;
  color: rgb(66, 62, 44);position: absolute;
  /* top: 10px; */
  top: 100px;
  left:43%;
}

p.body-message{
z-index: 100;
color: rgb(66, 62, 44);position: absolute;
top: 100px;
left:43%;
margin-top: 70px;
}
div.letter{
  position: absolute;
  left: 23%;
  border: 10px solid black;
  width: 700px;
  top: 70px;
  height: 500px;
}
div.buttons{
  position: absolute;
  display: flex;
  gap: 330px;
  color: rgb(48, 44, 39);
  bottom: 70px;

}

img.arrow-next{
  transform:rotate(180deg);
  margin-left: 20px;
  margin-right: 20px;
}


img.arrow-previous{
  margin-right: 20px;
}

h3.previous{
  cursor: pointer;
}

h3.next{
  cursor: pointer;
}

@media (max-width:768px){
  
 img.lily{
  right: -50px;
  bottom: 0px;
  width: 270px;
 }
 img.lily-2{
  top:10px;
  left:-10px;
  width: 200px;
 }
div.buttons{
  gap: 200px;
  
}
img.arrow-next, img.arrow-previous{
  width:30px;
}

}

@media (min-width:768px) and (max-width:976px) {
  img.lily{
    right: -50px;
    bottom: 0px;
    width: 270px;
   }
   img.lily-2{
    top:10px;
    left:-10px;
    width: 200px;
   }
  div.buttons{
    gap: 200px;
    
  }
  img.arrow-next, img.arrow-previous{
    width:30px;
  }
}